<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <mvc:annotation-driven conversion-service="conversionService"/>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="stringToLocalTimeConverter"/>
            </set>
        </property>
    </bean>

    <bean id="stringToLocalTimeConverter" class="localTimeConverter.StringToLocalTimeConverter"/>

    <bean id="doctor" class="entity.Doctor">
        <!-- Propiedades del Doctor -->
        <property name="file" value="123456"/>
        <property name="name" value="Juan"/>
        <property name="surname" value="Pérez"/>
        <property name="sex" value="Masculino"/>
        <property name="birth">
            <bean class="java.util.Date">
                <constructor-arg type="long" value="1715107200000"/> 
            </bean>
        </property>
        <property name="address" value="123 Calle Falsa"/>
        <property name="localty" value="Ciudad"/>
        <property name="email" value="juan.perez@example.com"/>
        <property name="phone" value="555-1234"/>
        <property name="specialty">
            <bean class="entity.Specialty">
                <property name="id" value="1"/>
                <property name="name" value="Cardiología"/>
            </bean>
        </property>
        <property name="user">
            <bean class="entity.User">
                <property name="username" value="jperez"/>
                <property name="password" value="password"/>
            </bean>
        </property>
        <property name="schedules">
            <set>
                <bean class="entity.Schedule">
                    <property name="id" value="1"/>
                    <property name="beginDay" value="MONDAY"/>
                    <property name="finishDay" value="WEDNESDAY"/>
                    <property name="startTime" value="08:00:00"/>
                    <property name="endTime" value="16:00:00"/>
                </bean>
                <bean class="entity.Schedule">
                    <property name="id" value="2"/>
                    <property name="beginDay" value="WEDNESDAY"/>
                    <property name="finishDay" value="FRIDAY"/>
                    <property name="startTime" value="08:00:00"/>
                    <property name="endTime" value="16:00:00"/>
                </bean>
            </set>
        </property>
        <property name="active" value="true"/>
    </bean>
<bean id="generator" class="generator.Generator"/>
    <mvc:annotation-driven conversion-service="conversionService"/>
            <!-- Propiedades del Patient -->
<bean id="Patient1" class="entity.Patient" init-method="iniPatient" destroy-method="destroyPatient">
 <property name="id" value="3"/>
 <property name="name" value="Josaelo"/>
 <property name="surname" value="Ramirez"/>
 <property name="dni" value="33256656"/>
 <property name="phone" value="12345677"/>
 <property name="address" value="Av san martin 333"/>
 <property name="localty" value="Tigre"/>
 <property name="province" value="Buenos aires"/>
 <property name="birth" value="1990-01-01"/>
 <property name="email" value="Josaelo@gmail.com"/>
 <property name="active" value="true"/>
</bean>
</beans>
